@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p>A Client application for making auction offers on active auction items fetched from Ares Web-Application.</p>
<p>Created by Mait Raidmäe in August, 2017</p>
<p>E-mail: mait.raidmae@gmail.com</p>